<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDP GUI</title>
    <script src="https://mpld3.github.io/_static/js/mpld3.v0.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Top bar -->
    <nav class="navbar navbar-dark bg-dark">
        <img src="{{ url_for('static', filename='Lockheed_Martin_logo.svg') }}" width="300" class="img-fluid" alt="logo">
    </nav>    
    <h2 class="mt-4">Home</h2>
    <p class="lead">Lockheed Martin SDP Homepage.</p>
  
    <div class="row mt-4">
      <div class="col-md-12">
        <p>This project is a collaborative effort between <strong>University of Connecticut (UConn) students</strong> and <strong>Lockheed Martin</strong>, aimed at harnessing the power of data science and machine learning to drive innovation in server management and operational efficiency.</p>
      </div>
    </div>

    <!-- Choose an algorithm -->
    <div id="algorithmSelection">
        <h2>Algorithm Analysis</h2>
        <p>*Note: Algorithms may take a minute or so to run.*</p>
        <form id="algorithmForm">
            <label for="algorithm">Choose an algorithm:</label>
            <select name="algorithm" id="algorithm">
                <option value="SeasonalDecompositionModel">Seasonal Decomposition Model</option>
                <option value="LSTMModel">LSTM Model</option>
                <option value="ProphetModel">Prophet Model</option>
            </select>
            <button type="button" onclick="runAlgorithm()">Run Algorithm</button>
        </form>
    </div>

    <!-- Display algorithm results -->
    <div id="plots">
        <img id="plot_base64_1" src="" alt="">
        <img id="plot_base64_2" src="" alt="">
        <div id="loadingMessage" style="display: none;">Loading...</div> <!-- Loading message -->
    </div>
    </div>

    <!-- Clustering Algorithm -->
     <div id="clusteringAlgorithm">
        <h2>Clustering Algorithm</h2>
        <p>Recommended time range is from 9:00 AM to 3:00 PM</p>
    </div>
    <form id="clusteringForm">
        <label for="day">Day:</label>
        <select name="day" id="day">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
        </select>
         <!-- Start time dropdown -->
        <label for="start_time">Start Time:</label>
        <select name="start_time" id="start_time">
            <option value="8:00">8:00 AM</option>
            <option value="09:00">9:00 AM</option>
            <option value="10:00">10:00 AM</option>
            <option value="11:00">11:00 AM</option>
            <option value="12:00">12:00 PM</option>
            <option value="13:00">1:00 PM</option>
            <option value="14:00">2:00 PM</option>
            <option value="15:00">3:00 PM</option>
            <option value="16:00">4:00 PM</option>
            <option value="17:00">5:00 PM</option>
        </select>

         <!-- End time dropdown -->
        <label for="end_time">End Time:</label>
        <select name="end_time" id="end_time">
            <option value="10:00">10:00 AM</option>
            <option value="11:00">11:00 AM</option>
            <option value="12:00">12:00 PM</option>
            <option value="13:00">1:00 PM</option>
            <option value="14:00">2:00 PM</option>
            <option value="15:00">3:00 PM</option>
            <option value="16:00">4:00 PM</option>
            <option value="17:00">5:00 PM</option>
            <option value="18:00">6:00 PM</option>
        </select>
    </form>
    <div id="clusteringResult"></div> <!-- Div to display clustering result -->
    <img id="clusterPlot" src="data:image/png;base64,{{ plot_data }}">
    
    <script>
        function runAlgorithm() {
            document.getElementById('loadingMessage').style.display = 'block';
            // Get the selected algorithm from the dropdown
            const selectedAlgorithm = document.getElementById('algorithm').value;

            if (selectedAlgorithm === 'ProphetModel') {
                fetch('/run-prophet', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
                })
                .then(response => response.json()) // Assuming your server returns JSON
                .then(data => {
                    // Update the content of the results div based on the response from the server
                    document.getElementById('plot_base64_1').src = "data:image/png;base64," + data.plot_prophet[0];
                    document.getElementById('plot_base64_2').src = "data:image/png;base64," + data.plot_prophet[1];
                    // Hide loading message
                    document.getElementById('loadingMessage').style.display = 'none';
                })
                .catch(error => console.error('Error:', error));
            }
            if (selectedAlgorithm === 'SeasonalDecompositionModel') {
                fetch('/run-seasonaldecomposition', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
                })
                .then(response => response.json()) // Assuming your server returns JSON
                .then(data => {
                    // Update the content of the results div based on the response from the server
                    document.getElementById('plot_base64_1').src = "data:image/png;base64," + data.plot_seasonaldecomposition;
                    document.getElementById('plot_base64_2').src = "";
                    // Hide loading message
                    document.getElementById('loadingMessage').style.display = 'none';
                })
                .catch(error => console.error('Error:', error));
            }
            if (selectedAlgorithm === 'LSTMModel') {
                fetch('/run-lstm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
                })
                .then(response => response.json()) // Assuming your server returns JSON
                .then(data => {
                    // Update the content of the results div based on the response from the server
                    document.getElementById('plot_base64_1').src = "data:image/png;base64," + data.plot_lstm;
                    document.getElementById('plot_base64_2').src = "";
                    // Hide loading message
                    document.getElementById('loadingMessage').style.display = 'none';
                })
                .catch(error => console.error('Error:', error));
            }
        } 

    function runClustering() {
        // Get form data
        const day = document.getElementById('day').value;
        const start_time = document.getElementById('start_time').value;
        const end_time = document.getElementById('end_time').value;

        // Make an AJAX request to run the clustering algorithm
        fetch('/run-cluster-graph', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ day, start_time, end_time })
        })
        .then(response => response.json())
        .then(data => {
            const clusterPlotImg = document.getElementById('clusterPlot');
            clusterPlotImg.src = "data:image/png;base64," + data.plot_data;
            clusterPlotImg.alt = "Cluster Algorithm Data"; // Update alt attribute

        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
        // Event listener to run clustering when day selection changes
    document.getElementById('day').addEventListener('change', runClustering);
    document.getElementById('start_time').addEventListener('change', runClustering);
    document.getElementById('end_time').addEventListener('change', runClustering);
    runClustering();
    </script>  
</body>
</html>